@charset "utf-8";
/* --------------------------------------------------------------------- */
/* -------                     CSS Document       	             ------- */
/* --------------------------------------------------------------------- */
/* ------- Author V.Avramenko aka Lordz (avbitinfo@gmail.com)    ------- */
/* ------- Created on 02.11.2016. Modified on 15.11.2016         ------- */
/* --------------------------------------------------------------------- */


@font-face { font-family: PixelCyrNormal; src: url('../font/pixel_cyr_normal.ttf') format('truetype'); }


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    font-family: PixelCyrNormal;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.pagination_selected {
    background-color: lightgray;
    font-weight: bold;
}

.warning {
    color: #D3054A;
    font-size: medium;
}

table.info {
    border-collapse:collapse;
    width: 100%;
}
table.info th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
table.info tr:nth-child(even){background-color: #f2f2f2}
table.info thead {
    text-align: center;
    font-family: PixelCyrNormal;
}
table.info thead .title {
    font-size: 1.4em;
    text-align: center;
 }
/*
table.info tbody {
    background-color: white;
}
*/

table.info thead th, tfoot tr {
    text-align: center;
}

table.info tfoot tr {
    text-align: center;
}

table.info tbody tr.selected:hover {
    background-color: lightgray;
}

/*
table.info tfoot {
    background-color: white;
}
*/

table.info tbody tr.selected .info_hash_hex{
    text-align: center;
    font-size: smaller;
    color: lightgray;
    vertical-align:bottom;
}
table.info tbody tr.selected:hover .info_hash_hex{
    color: white;
}