server {
        listen       80;
        server_name  retracker.local;

        root   /usr/www/retracker_local/web;

        # Prevent Clickjacking
        add_header X-Frame-Options "SAMEORIGIN";

        location ~* ^/announce.php$ {
                rewrite ^/ /announce_ng.php permanent;
                error_log /dev/null;
                access_log off;
        }

        location ~* ^/announce$ {
                rewrite ^/ /announce_ng.php permanent;
                error_log /dev/null;
                access_log off;
        }

        location ~* ^/scrape$ {
                rewrite ^/ /scrape.php permanent;
                error_log /dev/null;
                access_log off;
        }

        location / {
            index index.php index.html index.htm;
            try_files $uri $uri/ @rewriteapp;
        }

        location @rewriteapp {
            rewrite ^(.*)$ /index.php?$args last;
        }

        # Logs
        access_log  /var/log/nginx/retracker.local-access.log  main;
        error_log /var/log/nginx/retracker.local-error.log;
        ### Uncomment the line below if you don't want nginx logging access to the server.
        #access_log off;


        # Pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000 or unix:/var/run/php-fpm.socket
        location ~ \.php$ {
                fastcgi_pass   unix:/var/run/php-fpm.socket;
                fastcgi_index  index.php;
                fastcgi_param  SCRIPT_FILENAME  $document_root/$fastcgi_script_name;
                include        fastcgi_params;
        }

        # Enables Caching
        location ~* \.(jpg|jpeg|png|gif|ico|css|js)$ {
                expires 7d;
                add_header Pragma public;
                add_header Cache-Control "public, must-revalidate, proxy-revalidate";
        }

        # Deny access to .htaccess files, if Apache's document root concurs with nginx's one
        location ~ /\.ht {
            deny  all;
        }

        # Deny access to version control system directories.
        location ~ /\.svn|/\.git {
            deny all;
            internal;
        }
}
