AddDefaultCharset utf-8
ServerSignature Off
Options +Multiviews

<IfModule mod_setenvif.c>
    SetEnv TZ Europe/Kiev
</IfModule>

<Files ~ "\.(inc|conf|cfg|htaccess|htpasswd|ini|log|sh|twig)$">
Deny from all
</Files>


<IfModule mod_rewrite.c>

        RewriteEngine On
        RewriteBase /

        #RewriteRule ^announce/?$ /announce.php [L]

        RewriteRule ^announce/?$ /announce_new.php [L]
        RewriteRule ^announce.php/?$ /announce_new.php [L]
        RewriteRule ^scrape/?$ /scrape_new.php [L]
        RewriteRule ^scrape.php/?$ /scrape_new.php [L]


        #################################################################
        # MVC model (URL mapping to index.php)
        #################################################################

        #RewriteCond %{REQUEST_FILENAME} -f [OR]
        #RewriteCond %{REQUEST_FILENAME} -l [OR]
        #RewriteCond %{REQUEST_FILENAME} -d
        #RewriteRule ^.*$ - [NC,L]
        #RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

</IfModule>

